/* normalize */
body {
  margin: 0;
  padding: 0;
  color: #2e3b3d;
  background: #a3d7df;
}
p {
  margin: 0;
  padding: 1em 0;
}

* {
  box-sizing: border-box;
}

/* page layout */
.row {
  width: 480px;
  margin: 0 auto;
}

/* Scenes */
#game {
  width: 480px;
  height: 600px;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.scene {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
  -webkit-transition: all .3s ease-out;
}

  .scene.out {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .scene.in {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

.hidden {
  display: none;
}

.button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#game-scene {

}
#gameover-scene {
  background: rgba(0, 0, 0, .5) url(../images/gameover.png);
}

#player {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(../images/running.png);
  bottom: 100px;

  -webkit-animation-name: running;
  -webkit-animation-duration: .4s;
  -webkit-animation-timing-function: steps(2, end);
  -webkit-animation-iteration-count: infinite;
}
  #player.lane1 {-webkit-transform: translate3d(100px, 0, 0); }
  #player.lane2 {-webkit-transform: translate3d(200px, 0, 0); }

@-webkit-keyframes running {
   from { background-position:    0px; }
     to { background-position: -200px; }
}

.floor {
  position: relative;
  width: 400px;
  height: 100%;
  margin: auto;
  background: url(../images/space-runner-bg.png) 0 0;
}

.tile {
  position: absolute;
  width: 100px;
  height: 100px;
}
  .tile-0 {
  }
  .tile-1 {
    background: url(../images/runway.png);
  }
  .tile-2 {
    background: url(../images/runway2.png);
  }
  .tile-100 {
    background: url(../images/block.png);
  }
  .tile-4 {
    background: url(../images/star.png) center center no-repeat;
  }


