* {
  box-sizing: border-box;
}

body, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Main layout */
#game {
  width: 100%;
  float: left;
}
#recipes {
  float: right;
  width: 100%;
  background: #ACACAC;
}

/* layout inside game */
#status-bar {
  background: #D8D8D8;
  border-bottom: 1px solid #979797;
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

#customer-view {
  background: url(../images/stand-background.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-style: solid;
  border-width: 26px 32px 42px;
  border-image: url(../images/sushi-stand-border.png) 26 32 42 repeat;
}



#sushi-area {
  background: #9D7335;
  width: 100%;
  height: 250px;
}

#sushi-board {
  background: #913030;
  border: 1px solid #979797;
  width: 50%;
  height: 90%;
  float: right;
}

#ingredients {
  width: 50%;
  float: left;
  padding: 10px;
  overflow: auto;
}

.ingredient {
  width: 33%;
  height: 33%;
  background: #D8D8D8;
  border: 1px solid #979797;
  float: left;
}

#phone {
  width: 100%;
  height: 20%;
  background: #D8D8D8 url(../images/refill-phone.png) center center no-repeat;
  background-size: contain;
  float: left;
}

#delete-sushi-btn {
  display: block;
  width: 100px;
  height: 30px;
  background: url(../images/trash.png) center center no-repeat;
  background-size: contain;
}

/* mobile portrait view */
@media screen and (max-width: 500px) {
  #customer-view {
    height: 250px;
  }
  #ingredients {
    width: 70%;
  }
  #sushi-board {
    width: 30%;
  }
}

/* mobile landscape view */
@media screen and (max-device-width: 550px) and (orientation : landscape) {
  #status-bar {
    float: left;
    width: auto;
    padding-left: 3px;
    padding-right: 3px;
    border-right: 1px solid #979797;
  }
  #customer-view {
    height: 130px;
  }

  #sushi-area {
    height: 200px;
  }
}

/* wide screen */
@media screen and (min-width: 800px) {
  #game {
    width: 60%;
  }
  #recipes {
    width: 40%;
  }
}




/* Ingredient */
.ingredient {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ingredient[data-type='rice'] {
  background-image: url(../images/rice.png);
}
.ingredient[data-type='egg'] {
  background-image: url(../images/egg.png);
}
.ingredient[data-type='octopus'] {
  background-image: url(../images/octopus.png);
}
.ingredient[data-type='salmon'] {
  background-image: url(../images/salmon.png);
}
.ingredient[data-type='salmon-roe'] {
  background-image: url(../images/salmon-roe.png);
}
.ingredient[data-type='seaweed'] {
  background-image: url(../images/seaweed.png);
}

/* Sushi */
.sushi {
  width: 100%;
  min-height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sushiSalmonRoe {
  background-image: url(../images/sushiSalmonRoe.png);
}
.sushiSalmon {
  background-image: url(../images/sushiSalmon.png);
}
.sushiEgg {
  background-image: url(../images/sushiEgg.png);
}
.sushiOctopus {
  background-image: url(../images/sushiOctopus.png);
}







